* {
  box-sizing: border-box;
  margin: 0;
  /* padding-left: 10px; */
}

html {
  background-color: beige;
}

img {
  width: 200px;
  height: 100%;
  padding-top: 15px;
}

nav {
  padding-top: 20px;
  padding-bottom: 25px;

  border-bottom: 1px solid black;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-weight: bold;
}

.img {
  width: 200px;
  height: 100%;
}

.nav {
  background-color: orangered;
}
.nav-link {
  color: white;
  padding-left: 15px;
}

.taco-link {
  margin-top: 20px;

  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 25px;
}

.rating {
  padding-bottom: 30px;
}

.h1 {
  padding-top: 40px;
  padding-left: 30px;
}

.h2 {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 15px;
}

.steps {
  padding-top: 20px;
  padding-left: 15px;
}

.lists {
  padding-top: 20px;
  padding-left: 15px;
}

.footer {
  font-weight: bold;
  background-color: rgb(128, 180, 51);

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

h1:hover,
h2:hover {
  color: rgb(181, 160, 39);
}

img:hover {
  border-radius: 15%;
  border-color: 20px, black;
}

.grid-container {
  display: grid;

  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: auto auto;
  padding-left: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-self: auto;
}

.gray-ings {
  background-color: rgba(128, 128, 128, 0.228);
}

.lists {
  padding-bottom: 60px;
}
